<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask</title>
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/main.css" media="screen">
    <style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(54.5403, -2.5463),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          navigationControl: false,
          disableDefaultUI: true,
          scrollwheel: false,
          mapTypeControl: false,
          scaleControl: false,
          draggable: false,
          
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
	<style>
      #map_canvas {
        width: 490px;
        height: 540px;
      }
    </style>
    
</head>
<body>
    <div class="page">
     
        <header class="page__hd">
        </header>
        
<!-- 		start the header div -->
		<div style="height:100px;width:1000px; background-image: url(../static/images/banner.gif); margin: 0px; ">
 		<IMG STYLE="position:relative; TOP:8px; LEFT:870px; WIDTH:95px; HEIGHT:82px" SRC="static/images/logo.gif" ALT="Flight Report">
<!--  		<div style="position:relative; TOP:0px; LEFT:470px; height:35px;width:520px; background-image: url(../static/images/tab.gif); margin: 5px; "></div>
 --> 		</div>
<!-- 		end the header div -->


                               
        	<div class="page__bd">
            </div>
            
            <!-- A white div to the left of the map -->
         	<div style= "position:relative; BOTTOM:20px; RIGHT:0px; height:600px;width:1000px; padding: 0px;     background:#FFFFFF;">	
         	<div style= "position:relative; TOP:5px; LEFT:5px; height:600px;width:460px; padding: 0px;     background:#FFFFFF;">
         	<h2>Flight Report</h2>
         	
         	<p>Flight Report takes gathers aircraft movement data and passes it through a complex mathematical model to produce a comprehensive aircraft nuisance mapping for the UK.</p>
         	<p>It's free to check your location - if we have relevant data, you can choose to purchase our full report for £20</p>
         	<h3>What's in a report?</h3>
         	<ul>
         	<li>Our flight nuisance rating, geographically displayed on a map </li>
         	<li>Peak modeled noise levels - how load are the planes?</li>
         	<li>Aircraft movement frequency - how many flights took place?</li>
         	<li>Aircraft movement schedule - what time of day, and what days of the week were the flights?</li>
         	</ul>
         	
         	<p>Enter your postcode and check our database for free</p>
         	
     
          	<h3>BS48 3DY - Bristol Airport</h3>
         	</div>
         	<!-- 		start the map div -->
            <div style= "position:relative; BOTTOM:600px; LEFT:485px; height:600px;width:500px;     background:#3C3C3B; margin: 5px; ">
            <!-- A white div which holds the map -->
         	<div style= "position:relative; TOP:5px; LEFT:5px; height:540px;width:490px;     background:#FFFFFF;">
         	<div id="map_canvas"></div>        
         	</div>
            <!-- the white banner at the bottom of the map -->
            <div style= "position:relative; BOTTOM:10px; LEFT:5px; height:45px;width:490px;     background:#FFFFFF;">
         	<h2 style = "position: relative; left: 8px; top: 8px">Enter a postcode:</h2>
            <!-- Another div to hold the postcode input box -->
         	<div style= "position:relative; BOTTOM:48px; LEFT:220px; height:40px;width:260px;     background:#FFFFFF;">
            {% block body %}{% endblock %}
         	
          	</div>
            
            </div>
        	</div>
        	
    
        <footer class="page__ft">
        <div style= "position:relative; BOTTOM:615px; LEFT:0px; height:30px;width:1000px; background-image: url(../static/images/footer.gif); "></div>
        </footer>
    </div>
</body>
</html>
