<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../static/css/site.css">
  </head>
  <body>
    <h2>This is away.html</h2>
    
    <form action="/home" method="POST">
    <fieldset>
    <div> 
    <button type="submit" name="button">home</button>
    </div>
    </fieldset>
    </form>

    
    <form action="/away" method="POST">
    <fieldset>
    <div> 
    <button type="submit" name="button">away</button>
    </div>
    </fieldset>
    </form>

    <form action="/nearby" method="POST">
    <fieldset>
    <div> 
    <button type="submit" name="button">nearby</button>
    </div>
    </fieldset>
    </form>
  </body>
</html>
