{% extends "layouts/default.html" %}

{% block body %}
    <div class="input">
        
     <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
     
    	     
    	  var sq0;
    	        	  
    	  var map_canvas = document.getElementById('map_canvas');
    	  // Define the LatLng coordinates for the polygon's path.
    	  var triangleCoords = [
    	  new google.maps.LatLng({{ result [1] }}, {{ result [2] }}),
    	  new google.maps.LatLng({{ result [1] }}, {{ result [4] }}),
    	  new google.maps.LatLng({{ result [3] }}, {{ result [4] }}),
    	  new google.maps.LatLng({{ result [3] }}, {{ result [2] }}),
    	  new google.maps.LatLng({{ result [1] }}, {{ result [2] }}),
    	  ];
    	            
    	  var sq1 = [
    	  new google.maps.LatLng({{ result [7] }}, {{ result [8] }}),
    	  new google.maps.LatLng({{ result [7] }}, {{ result [10] }}),
    	  new google.maps.LatLng({{ result [9] }}, {{ result [10] }}),
    	  new google.maps.LatLng({{ result [9] }}, {{ result [8] }}),
    	  new google.maps.LatLng({{ result [7] }}, {{ result [8] }}),
    	  ];
    	  sq1 = new google.maps.Polygon({
    	  paths: sq1,
    	  strokeWeight: 2,
    	  fillOpacity: .4,
    	  fillColor: '{{ result [12] }}',
    	  });

    	  var sq2 = [
    	  new google.maps.LatLng({{ result [13] }}, {{ result [14] }}),
    	  new google.maps.LatLng({{ result [13] }}, {{ result [16] }}),
    	  new google.maps.LatLng({{ result [15] }}, {{ result [16] }}),
    	  new google.maps.LatLng({{ result [15] }}, {{ result [14] }}),
    	  new google.maps.LatLng({{ result [13] }}, {{ result [14] }}),
    	  ]; 
    	  sq2 = new google.maps.Polygon({
    	  paths: sq2,
    	  fillColor: '{{ result [18] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });

    	        
    	  var sq3 = [
    	  new google.maps.LatLng({{ result [19] }}, {{ result [20] }}),
    	  new google.maps.LatLng({{ result [19] }}, {{ result [22] }}),
    	  new google.maps.LatLng({{ result [21] }}, {{ result [22] }}),
    	  new google.maps.LatLng({{ result [21] }}, {{ result [20] }}),
    	  new google.maps.LatLng({{ result [19] }}, {{ result [20] }}),
    	  ]; 
    	  sq3 = new google.maps.Polygon({
    	  paths: sq3,
    	  fillColor: '{{ result [24] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });


    	  var sq4 = [
    	  new google.maps.LatLng({{ result [25] }}, {{ result [26] }}),
    	  new google.maps.LatLng({{ result [25] }}, {{ result [28] }}),
    	  new google.maps.LatLng({{ result [27] }}, {{ result [28] }}),
    	  new google.maps.LatLng({{ result [27] }}, {{ result [26] }}),
    	  new google.maps.LatLng({{ result [25] }}, {{ result [26] }}),
    	  ]; 
    	  sq4 = new google.maps.Polygon({
    	  paths: sq4,
    	  fillColor: '{{ result [30] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });

    	  var sq5 = [
    	  new google.maps.LatLng({{ result [31] }}, {{ result [32] }}),
    	  new google.maps.LatLng({{ result [31] }}, {{ result [34] }}),
    	  new google.maps.LatLng({{ result [33] }}, {{ result [34] }}),
    	  new google.maps.LatLng({{ result [33] }}, {{ result [32] }}),
    	  new google.maps.LatLng({{ result [31] }}, {{ result [32] }}),
    	  ]; 
    	  sq5 = new google.maps.Polygon({
    	  paths: sq5,
    	  fillColor: '{{ result [36] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });


    	  var sq6 = [
    	  new google.maps.LatLng({{ result [37] }}, {{ result [38] }}),
    	  new google.maps.LatLng({{ result [37] }}, {{ result [40] }}),
    	  new google.maps.LatLng({{ result [39] }}, {{ result [40] }}),
    	  new google.maps.LatLng({{ result [39] }}, {{ result [38] }}),
    	  new google.maps.LatLng({{ result [37] }}, {{ result [38] }}),
    	  ]; 
    	  sq6 = new google.maps.Polygon({
    	  paths: sq6,
    	  fillColor: '{{ result [42] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2

    	  });

    	  var sq7 = [
    	  new google.maps.LatLng({{ result [43] }}, {{ result [44] }}),
    	  new google.maps.LatLng({{ result [43] }}, {{ result [46] }}),
    	  new google.maps.LatLng({{ result [45] }}, {{ result [46] }}),
    	  new google.maps.LatLng({{ result [45] }}, {{ result [44] }}),
    	  new google.maps.LatLng({{ result [43] }}, {{ result [44] }}),
    	  ]; 
    	  sq7 = new google.maps.Polygon({
    	  paths: sq7,
    	  fillColor: '{{ result [48] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });

    	  var sq8 = [
    	  new google.maps.LatLng({{ result [49] }}, {{ result [50] }}),
    	  new google.maps.LatLng({{ result [49] }}, {{ result [52] }}),
    	  new google.maps.LatLng({{ result [51] }}, {{ result [52] }}),
    	  new google.maps.LatLng({{ result [51] }}, {{ result [50] }}),
    	  new google.maps.LatLng({{ result [49] }}, {{ result [50] }}),
    	  ]; 

    	  sq8 = new google.maps.Polygon({
    	  paths: sq8,
    	  fillColor: '{{ result [54] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });

    	          
    	  // Construct the polygon.
    	  sq0 = new google.maps.Polygon({
    	  paths: triangleCoords,
    	  fillColor: '{{ result [6] }}',
    	  fillOpacity: .4,
    	  strokeWeight: 2
    	  });
    	                  
    	  var map_options = {
    	  center: new google.maps.LatLng({{ result[1] }}, {{ result[2] }}),
    	  zoom: 16,
    	  disableDefaultUI: true,
    	  scrollwheel: false,
    	  navigationControl: false,
    	  mapTypeControl: false,
    	  scaleControl: false,
    	  draggable: false,
    	  mapTypeId: google.maps.MapTypeId.ROADMAP,
    	          }
    	          
    	          var map = new google.maps.Map(map_canvas, map_options)

    	          sq0.setMap(map)
    	          sq1.setMap(map)
    	          sq2.setMap(map)
    	          sq3.setMap(map)
    	          sq4.setMap(map)
    	          sq5.setMap(map)
    	          sq6.setMap(map)
    	          sq7.setMap(map)
    	          sq8.setMap(map) 
    	          
    	        }
    	        google.maps.event.addDomListener(window, 'load', initialize);
    	      </script>
    	      
    	  <div id="map_canvas"></div>
    	      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    	      <script type="text/javascript">
    	        google.load("visualization", "1", {packages:["corechart"]});
    	  google.setOnLoadCallback(drawVisualization);

    	          // Create the data table.
    	  	function drawVisualization() {
    	    // Some raw data (not necessarily accurate)
    	    var data = google.visualization.arrayToDataTable([
    	            ['Time', 'Number of FLights', 'avg Peak dB'],
    	            ['03:00', {{ result [58] }}, 2],
    	            ['06:00', {{ result [59] }}, 2],
    	            ['09:00', {{ result [60] }}, 2],
    	            ['12:00', {{ result [61] }}, 2],
    	            ['15:00', {{ result [62] }}, 2],
    	            ['18:00', {{ result [63] }}, 4],
    	            ['21:00', {{ result [64] }}, 4],
    	            ['24:00', {{ result [65] }}, 4],
/*     	            ['10:00', 4, 7],
    	            ['11:00', 4, 2],
    	            ['12:00', 5, 5],
    	            ['13:00', 6, 7],
    	            ['14:00', 3, 8],
    	            ['15:00', 3, 8],
    	            ['16:00', 3, 9],
    	            ['17:00', 3, 1],
    	            ['18:00', 3, 6],
    	            ['19:00', 3, 4],
    	            ['20:00', 3, 1],
    	            ['21:00', 3, 7],
    	            ['22:00', 3, 9],
    	            ['23:00', 3, 7],
    	            ['24:00', 3, 1], */
    	          ]);

    	          // Set chart options
    	     var options = {
    	  	curveType : "function",
    	      title : 'Flight Frequency and Loudness',
    	      vAxis: {title: "Frequency"},
    	      hAxis: {title: "Time"},
    	      seriesType: "bars",
    	      colors: ['#e0440e', '#00FF00'],
    	      series: {1: {type: "line"}}
    	    };

    	     var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    	     chart.draw(data, options);
    	          }
    	          
    	          
    	      </script>    	      
    	      
    	      <!--Div that will hold the bar chart-->
    	      <div id="chart_div" style="width: 1000px; height: 500px;"></div>

    	          
    	  </div>
    	  {% endblock %}