{% extends "layouts/homeLayout.html" %}

{% block body %}

<form action="/tst" method="POST">
    <fieldset>
        <p>
            Enter the coordinates: 349172 165820
        </p>

        <div>
            <label>
                Easting:
                <input type="text" name="easting" value="" required>
            </label>
        </div>

        <div>
            <label>
                Northing:
                <input type="text" name="northing" value="" required>
            </label>
        </div>

        <div> 
           <button type="submit" name="button">Send2</button>
 
        </div>
    </fieldset>
</form>
{% endblock %}
