{% extends "layouts/default.html" %}

{% block body %}
<form action="/" method="POST">
    <fieldset>
        <p>
            Enter some numbers:
        </p>

        <div>
            <label>
                Input A:
                <input type="text" name="input_a" value="" required>
            </label>
        </div>

        <div>
            <label>
                Input B:
                <input type="text" name="input_b" value="" required>
            </label>
        </div>

        <div> 
           <button type="submit" name="button">Send1</button>
 
        </div>
    </fieldset>
</form>


<form action="/tst" method="POST">
    <fieldset>
        <p>
            Enter the coordinates: 349172 165820
        </p>

        <div>
            <label>
                Easting:
                <input type="text" name="easting" value="" required>
            </label>
        </div>

        <div>
            <label>
                Northing:
                <input type="text" name="northing" value="" required>
            </label>
        </div>

        <div> 
           <button type="submit" name="button">Send2</button>
 
        </div>
    </fieldset>
</form>
{% endblock %}
